* {
    margin: 0%;
    padding: 0%;
    --black: #4B4A4A;
    --white: #F5F5F5;
}

#h2-form {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    width: 780px;
    justify-content: space-between;
}

select {
    padding: 6px;
    border-radius: 17px;
    background-color: var(--white);
}

table {
    margin-top: 50px;
    border: 1px solid var(--black);
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid var(--black);
}

td {
    padding: 12px;
    border: 1px solid var(--black);
}